body {
  margin           : 0;
  padding          : 0;
  background-color : #3A383A;
}

div.page {
  height         : -webkit-fill-available;
  margin         : 0 auto;
  padding        : 0% 3% 0% 3%;
  padding-bottom : auto;
  overflow-x     : auto;
  background     : #EAEDF2;
}

/* -------------------------------Text------------------------------------ */

#aboutMainHeader{
  text-align  : left;
  text-shadow : 1px 1px #8f9091;
  font-family : sans-serif;
  font-size   : 20pt;
}

#aboutSecondHeader{
  text-align  : left;
  text-shadow : 1px 1px #8f9091;
  font-family : sans-serif;
  font-size   : 15pt;
}

.aboutText{
  text-align  : left;
  font-family : sans-serif;
}

/* -----------------------------Menu Bar------------------------------------ */

li {
  display     : inline;
  float       : left;
  font-family : sans-serif;
}

li a {
  display         : block;
  padding         : 13px 16px;
  color           : #FFF;
  text-align      : center;
  text-decoration : none;
}

li a:hover {
  background-color : #40813D;
}

.menubar {
  position : -webkit-sticky;
  position : sticky;
  top      : 0;
}

li.menu-icon img {
  width  : 40px;
  height : 40px;
}

li.menu-icon p {
  width       : 40px;
  margin      : 0;
  padding     : 0 auto;
  padding-top : 10%;
  text-align  : justify;
}

ul {
  margin          : 0;
  padding         : 0;
  overflow        : hidden;
  background      : -webkit-linear-gradient(
                      #83B541,
                      #a7cd75
                    );
  list-style-type : none;
}

/* -----------------------------Menu Bar------------------------------------ */

/* --------------------------landing page title------------------------------ */

#title {
  display     : block;
  margin      : auto;
  text-align  : center;
  text-shadow : 2px 3px #8f9091;
  font-family : sans-serif;
  font-size   : 45pt;
}

#subtitle {
  display        : block;
  margin         : 0;
  padding-top    : 1%;
  padding-bottom : 5%;
  text-align     : center;
  font-family    : sans-serif;
  font-size      : 15pt;
  /**
  * white-space
  *
  * : nowrap;
  */
}

#pageIdImg {
  display    : block;
  margin-top : 2%;
}

/* --------------------------landing page title------------------------------ */

/* -----------------------------Tables-------------------------------------- */
          /*------------------chart canvas------------------*/
#line-canvas{
  width: 900px;
  height: 400;

}

.chart-container{

}


          /*------------------chart canvas------------------*/

          /*------------------reading table------------------*/
#readings-table {
  display     : table;
  width       : 100%;
  font-family : sans-serif;
  padding-bottom: 2%;
}

#readings-table-caption {
  display     : table-caption;
  text-align  : center;
  font-size   : 30px;
  font-size   : 3vmax;
  font-weight : bold;
  padding-bottom: 1%
}

#readings-table-header {
  display          : table-header-group;
  background-color : #c2d54a;
  font-size        : 20px;
  font-size        : 1.3vmax;
  font-weight      : bold;
  white-space      : nowrap;
}

.readings-header-cell {
  display       : table-cell;
  padding       : 1%;
  border-bottom : 1px solid black;
  text-align    : center;
}

#readings-table-body {
  display     : table-row-group;
  white-space : nowrap;
}

.readings-body-cell {
  display       : table-cell;
  padding       : 2%;
  padding: 2vw;
  border-bottom : 1px solid black;
  text-align    : center;
  font-size     : 20px;
  font-size     : 1.7vmax;
}

.readings-table-row {
  display : table-row;
}

            /*---------------MIN MAX table---------------*/
#MINMAX-table {
  display     : table;
  width       : 100%;
  font-family : sans-serif;
}

#MINMAX-table-caption {
  display     : table-caption;
  text-align  : center;
  font-size   : 30px;
  font-size   : 3vmax;
  font-weight : bold;
  padding-bottom: 1%
}

#MINMAX-table-header {
  display          : table-header-group;
  background-color : #c2d54a;
  font-size        : 20px;
  font-size        : 1.5vmax;
  font-weight      : bold;
  white-space      : nowrap;
}

.MINMAX-header-cell {
  display       : table-cell;
  padding       : 1%;
  border-bottom : 1px solid black;
  text-align    : center;
}

#MINMAX-table-body {
  display     : table-row-group;
  white-space : nowrap;
}

.MINMAX-body-cell {
  display       : table-cell;
  padding       : 2%;
  padding: 2vw;
  border-bottom : 1px solid black;
  text-align    : center;
  font-size     : 20px;
  font-size     : 1.7vmax;
}

.MINMAX-table-row {
  display : table-row;
}

/* -----------------------------Tables-------------------------------------- */

/* --------------------------Footer------------------------------------------- */

div.footer {
  /*position      : -webkit-sticky;*/
  position        :  initial;
  bottom          : 0;
  width           : 100%;
  margin          : 0 auto;
  background      : -webkit-linear-gradient(
                      #a7cd75,
                      #83B541
                    );
  text-decoration : none;
}

footer {
  display        : block;
  bottom         : 0;
  margin         : auto;
  padding-top    : 2%;
  padding-bottom : 2%;
  color          : #EAEDF2;
  text-align     : center;
  font-family    : sans-serif;
}

footer a {
  color           : #EAEDF2;
  text-decoration : none;
}

footer a:hover {
  color           : #848689;
  text-decoration : none;
}

/* --------------------------Footer------------------------------------------- */
